# Python
*.py[cod]
__pycache__/

# Package
*.egg
*.egg-info/
dist/
build/
_build/

# test material should be manually added
test/

# anything hidden should be manually added
.*

# logs
*.log

# keys
*.pem
