# /etc/syncacre.conf

# Global Syncacre configuration
# See https://docs.python.org/2/library/configparser.html to learn more about syntax

# The log file should be explicitly defined.
# Syncacre will refuse to log into /etc
log file = /var/log/syncacre.log

# Define below the client(s)

[client-1]
# Define below the path to the local repository
# Beware that some characters should be escaped. Especially '%' should be replaced
# by '%%'.
#local path = /var/run/syncacre/repository

# "push only = yes" and "pull only = yes" are incompatible
# Push only client
#push only = yes
# Pull only client
#pull only = yes

