
[my-cloud]
# refresh every 5 minutes (interval is in seconds)
refresh = 300
# absolute path to the local repository
local path = /home/me/my-cloud
# name of the cloud server
address = cloud.example.com
protocol = https
# relative path to a credential text file containing "username:password"
secret file = my-credential-file
remote directory = remote.php/webdav
# default is based on the Fernet utility from the cryptography Python library
encryption = yes
# define the passphrase for the encryption
# my-passphrase can be the proper passphrase or a path to a file that contains it.
# beware that Fernet requires the passphrase to be url safe and 32-base64-byte long.
passphrase = my-passphrase
